.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search-Bar {
  margin: 20px;
}

.Movie-Lists {
  background-color: white;
  display: flex;
  flex-direction: row;
  color: #282c34;
  justify-content: space-between;
  padding: 50px;
}

.results {
  text-align: left;
}

.nominees {
  text-align: right;
}

button {
  margin: 10px
}
